<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ room_name }} | Comments </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <style type="text/css">


.link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
    </style>
</head>

<body>
   <div class="container" style="max-width: 100%;">
	<div class="row">
		<div class="col-12">
			<h4> You are in the room : {{ room_name }} <a href='/accounts/logout'> Logout </a> </h4>
		</div>
	</div>
	<div class="row">
        <div class="col-2 lg-2 sm-12 md-12">
            <div class="card lg-12 sm-12 md-12">
				<div class="card-body" style="padding-bottom: 10px">
					<div class="row">
					Live Stream Count: &nbsp; <span id='counter'></span>
					</div>
					<div class="row" >
                        <div class="col-12" id='users'>

                        </div>
				    </div>
            </div>
            </div>
        </div>
		<div class="col-10 lg-10 sm-12 md-12">
			<div class="card lg-12 sm-12 md-12">
				<div class="card-body" style="padding-bottom: 10px">
					<div class="row">
						<div class="col lg-12 sm-12 md-12 form-group">
							<input class="form-control" id="chat-message-username" type="text" placeholder="Name">
					</div>
				</div>

			<div class="row">
				<div class="col sm-12 lg-12 md-12 form-group">
					<textarea class="form-control" id="chat-message-input" type="text" class="materialize-textarea" rows="5" placeholder="Test Message"></textarea>
				</div>
			</div>
			<div class="row text-right">
				<div class="col-12 col-sm-12 col-lg-12 col-md-12">
					<a class="btn btn-primary" id="chat-message-submit" type="button" value="Send">Add Comment</a>
				</div>
			</div>
		</div>
	</div>
		<div class="row" style="margin-top:10px;">
			<div class="col sm-12 md-12 lg-12">
				<div id="pinned-chat-log" class="col-sm-12 col-md-12 col-lg-12"></div>
			</div>
		</div>
		<div class="row" style="margin-top:10px;">
			<div class="col sm-12 md-12 lg-12">
				<div id="chat-log" class="col-sm-12 col-md-12 col-lg-12"></div>
			</div>
		</div>
                   
		<div class="row" style="margin:10px;">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 form-group">
				<button class="btn btn-primary form-control" onclick="load_comments();">Load More Comments</button>
			</div>
		</div>
	</div>
{{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        var userID = "";
        var streamCount = 0;
          function stringToHslColor(str, s, l) {
            var hash = 0;
            for (var i = 0; i < str.length; i++) {
              hash = str.charCodeAt(i) + ((hash << 5) - hash);
            }

            var h = hash % 360;
            return 'hsl('+h+', '+s+'%, '+l+'%)';
        }

        const chatSocket = new WebSocket(
            'wss://'
            + "stream.swecha.org:8001"
            + '/ws/comments_mod/'
            + roomName
            + '/'
        );
        const countSocket = new WebSocket(
            'wss://'
            + "stream.swecha.org:8001"
            + '/ws/count/'
            + roomName
            + '/'
        );

	var startIndex = 0;
    var stopIndex = 10;
    
	load_comments = function() {
	   chatSocket.send(JSON.stringify({
		    'command': 'get_messages',
		    'start': startIndex ,
		'stop' : stopIndex,
		}));
		startIndex = stopIndex;
		stopIndex += 10;
	}

    load_users = function() {
        chatSocket.send(JSON.stringify({
		    'command': 'get_users',
		}));
    }
	load_pinned_comments = function() {
       document.querySelector('#pinned-chat-log').innerHTML = "";
	
	   chatSocket.send(JSON.stringify({
		    'command': 'get_pinned_messages',
		}));
	}
	
       chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    console.log(data);
    if (data.command == 'moderate_message' || data.command == 'add' || data.command == 'get_message' || data.command=='get_pinned_message') {
        var color = stringToHslColor(data.user_id, 50, 60);

        svg = "<div style='width:50px;margin:20%;'><svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 20 20\"  class=\"avatar color-{{ color_ix }}\" ><circle cx=\"50%\" cy=\"50%\" fill=\"" + color + "\" r='12' ></circle><text text-anchor='middle' x=\"50%\" y=\"70%\" style=\"color:white\" font-size=\"15px\">" + data.username[0] + "</text></svg></div>";

            btn = "<span style='margin-right:2%'><a class='deletemsg btn btn-danger' onclick='deleteMsg(\"" + data.id + "\");'>Delete</a></span>"
	if (data.command == 'get_pinned_message') {
		btn += "<span><a class='deletemsg btn btn-warning' onclick='unpinMsg(\"" + data.id + "\");'>Unpin</a></span>"
	} else {
		btn += "<span><a class='deletemsg btn btn-success' onclick='pinMsg(\"" + data.id + "\");'>Pin</a></span>"

	}
	console.log(data);
	if (data.approved == false && data.blocked == false){
		btn += "&nbsp;<span><a class='deletemsg btn btn-primary' onclick='approveMsg(\"" + data.id + "\");'>Approve</a></span>"
	}

//            btn = '<div class="card-action" style="margin-top: 0">' + btn + '</div>';
    extra = "";    
	extra2 = "";
        extra3 = "";
	if (data.command == 'get_pinned_message') {
		extra = "border-primary";
		extra2 = "pinned_";
	}
        if (data.blocked) {
		extra = "border-danger";
                extra3 = "This IP is blocked !&nbsp;";
//		extra2 = "pinned_";
	}
        card = '<div class="row" id="'+extra2+'comment_' + data.id + '" style="margin-top:10px;" ><div class="card '+extra+' col-sm-12 col-md-12 col-lg-12"><div class="row no-gutters" ><div class="card-image col col-sm col-md-1 col-lg-1" >' + svg + '</div><div class=" col-8 col-sm-8 col-md-8 col-lg-8"><div class="card-body" ><b style="font-size: larger">' + extra3 +  data.username + ' @ ' + data.user_id + '</b><p>' + data.message + '</p>' + btn + '</div></div></div></div></div>';
	if (data.command == 'add'){
	        document.querySelector('#chat-log').innerHTML = card + document.querySelector('#chat-log').innerHTML;
	} else if (data.command == 'get_message') {
	        document.querySelector('#chat-log').innerHTML = document.querySelector('#chat-log').innerHTML + card;
	} else if (data.command == 'get_pinned_message') {
		document.querySelector('#pinned-chat-log').innerHTML = document.querySelector('#pinned-chat-log').innerHTML + card;
	}

    } else if (data.command == 'delete') {
        el = document.querySelector('#comment_' + data.id);
        el.remove();
    } else if (data.command == 'delete_error') {
        alert('You cannot remove this !')
    }else if (data.command == 'register') {
                console.log('Your user ID: '+data.id);
                userID = data.id;
		load_comments();
        load_pinned_comments();
        load_users();
    } else if (data.command == 'join') {
        streamCount += 1;
        el = document.querySelector('#counter');
        el.innerHTML = streamCount;
        
        if (data.username.length <= 0) {
            data.username = 'Unknown User';
        }

        var color = stringToHslColor(data.user_id, 50, 60);

        svg = "<div style='width:30px;margin:20%;'><svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 20 20\"  class=\"avatar color-{{ color_ix }}\" ><circle cx=\"50%\" cy=\"50%\" fill=\"" + color + "\" r='12' ></circle><text text-anchor='middle' x=\"50%\" y=\"70%\" style=\"color:white\" font-size=\"15px\">" + data.username[0] + "</text></svg></div>";



        jel = document.querySelector('#users');
        jel_el = '<div class="row" id="'+data.user_id+'_ublock" style="margin-top:2%"><div class="col-2 col-sm-2 col-md-2 col-lg-2" id="'+data.user_id+'_uimg" >' + svg + '</div><div class=" col-8 col-sm-8 col-md-8 col-lg-8" style="padding-right:0;line-height:2" id="'+data.user_id+'_uname">' + data.username + '</div></div>';
        jel.innerHTML += jel_el;


    } else if (data.command == 'leave') {

        streamCount -= 1;
        if (streamCount < 0) {
            streamCount = 0;
        }

        jel = document.getElementById(data.user_id+'_ublock');
        jel.remove();
        el = document.querySelector('#counter');
        el.innerHTML = streamCount;


    } else if (data.command == 'change_name') {


        jel = document.getElementById(data.user_id+'_uname');
        jel.innerHTML = data.username;


        var color = stringToHslColor(data.user_id, 50, 60);

        svg = "<div style='width:30px;margin:20%;'><svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 20 20\"  class=\"avatar color-{{ color_ix }}\" ><circle cx=\"50%\" cy=\"50%\" fill=\"" + color + "\" r='12' ></circle><text text-anchor='middle' x=\"50%\" y=\"70%\" style=\"color:white\" font-size=\"15px\">" + data.username[0] + "</text></svg></div>";


        jel = document.getElementById(data.user_id+'_uimg');
        jel.innerHTML = svg;

   }
};

var streamCounts = {}

sum_counts = function () {
   var scount = 0;
   var skeys = Object.keys(streamCounts);
   for(var i=0; i < skeys.length; i++){
	scount += streamCounts[skeys[i]];
   }
   return scount;

}

/*       countSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
	if (data.command == 'upd'){
		el = document.querySelector('#counter');
                streamCounts[data.id] = data.count;
		el.innerHTML = sum_counts();

	}
}; */


        function deleteMsg(id) {
            el = document.querySelector('#comment_'+id).innerHTML;
             chatSocket.send(JSON.stringify({
                'command' : 'delete',
                'id' : id,
            }));
        }

	  function pinMsg(id) {
	       document.querySelector('#pinned-chat-log').innerHTML = "";
            el = document.querySelector('#comment_'+id).innerHTML;
             chatSocket.send(JSON.stringify({
                'command' : 'pin',
                'id' : id,
            }));
        }

	  function approveMsg(id) {
            el = document.querySelector('#comment_'+id);
	    el.remove();
             chatSocket.send(JSON.stringify({
                'command' : 'approve_message',
                'id' : id,
            }));
        }

	  function unpinMsg(id) {
	       document.querySelector('#pinned-chat-log').innerHTML = "";
             chatSocket.send(JSON.stringify({
                'command' : 'unpin',
                'id' : id,
            }));
        }

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        /* document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        }; */

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            const userName = document.querySelector('#chat-message-username').value;
            if (userName) {
                chatSocket.send(JSON.stringify({
                    'command': 'add',
                    'username': userName,
                    'message': message,
                    'approved': true
                }));
                messageInputDom.value = '';
            } else {
                alert("Name cannot be empty !!");
            }
        }
    </script>
</body>
</html>

