<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Comments Room</title>
    <script type="text/javascript" src="/static/materialize/js/materialize.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/materialize/css/materialize.css"></link>
    <style type="text/css">


.link {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
    </style>
</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content" style="padding-bottom: 10px">
                    <div class="row">
                        <div class="col s12 m12">
                            <input id="chat-message-username" type="text" placeholder="Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12">
                            <textarea id="chat-message-input" type="text" class="materialize-textarea" rows="200" placeholder="Test Message"></textarea>
                        </div>
                    </div>
                        </div>
                    <div class="card-action" style="padding-top:0">
                        <a id="chat-message-submit" type="button" value="Send">Add Comment</a>
                    </div>
                    {{ room_name|json_script:"room-name" }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12">
                <div id="chat-log" style=""></div>
            </div>
        </div>
    </div>
    <script>

        const colors = ['#ef5350','#ba68c8','#9fa8da','#42a5f5','#80cbc4','#006064','#69f0ae','#eeff41','#ffd54f','#ff7043','#8d6e63'];
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        var userID = "";

       function stringToHslColor(str, s, l) {
            var hash = 0;
            for (var i = 0; i < str.length; i++) {
              hash = str.charCodeAt(i) + ((hash << 5) - hash);
            }

            var h = hash % 360;
            return 'hsl('+h+', '+s+'%, '+l+'%)';
        }
        /*-----------Comment this section to run on localhost------------------------*/
        const chatSocket = new WebSocket(
            'wss://'
            + "YOUR_DOMAIN:8001"
            + '/ws/comments/'
            + roomName
            + '/'
        );
        /*----------------------------------------------------------------------------*/

        /*-----------Uncomment this section to run on localhost------------------------*/
        // const chatSocket = new WebSocket(
        //     'ws://'
        //     + "localhost:8001"
        //     + '/ws/comments/'
        //     + roomName
        //     + '/'
        // );
        /*----------------------------------------------------------------------------*/
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.command == 'add') {
                var color = stringToHslColor(data.user_id, 50, 60);

                svg = "<div style='width:50px;margin:20%;'><svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 20 20\"  class=\"avatar color-{{ color_ix }}\" >\n" +
                    "  <circle cx=\"50%\" cy=\"50%\" fill=\""+color+"\" r='12' ></circle>\n" +
                    "  <text text-anchor='middle' x=\"50%\" y=\"70%\" style=\"color:white\" font-size=\"15px\">"+data.username[0]+"</text>\n" +
                    "</svg></div>";


                if (userID == data.user_id) {
                    btn = "<a class='deletemsg ' onclick='deleteMsg(\"" + data.id + "\");'>Delete</a>"
                    btn = '<div class="card-action" style="margin-top: 0">' + btn + '</div>';
                } else {
                    btn = "";
                }
                card = '<div class="row" id="comment_' + data.id + '" style="margin-bottom: 0"><div class="col s12 m12"><div class="card horizontal" ><div class="card-image">' + svg + '</div><div class="card-stacked"><div class="card-content" style="padding-top: 10px; padding-bottom: 10px"><b style="font-size: larger">' + data.username + '</b><p>' + data.message + '</p></div>'+btn+'</div></div></div></div>'
                document.querySelector('#chat-log').innerHTML = card + document.querySelector('#chat-log').innerHTML;
            }
            else if (data.command == 'delete') {
                el = document.querySelector('#comment_'+data.id);
                el.remove();
            }  else if (data.command == 'delete_error') {
                alert('You cannot remove this !')
            } else if (data.command == 'register') {
                console.log('Your user ID: '+data.id);
                userID = data.id;

            }
        };

        function deleteMsg(id) {
            el = document.querySelector('#comment_'+id).innerHTML;
             chatSocket.send(JSON.stringify({
                'command' : 'delete',
                'id' : id,
            }));
        }

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            const userName = document.querySelector('#chat-message-username').value;
            if (userName) {
                chatSocket.send(JSON.stringify({
                    'command': 'add',
                    'username': userName,
                    'message': message
                }));
                messageInputDom.value = '';
            } else {
                alert("Name cannot be empty !!");
            }
        }
    </script>
</body>
</html>
