SECRET_KEY='ute8yufn%4-!0kui2%^re8m5(umsfhxybld6@3-_rt%gi0h#dk'
DEBUG=True
ALLOWED="localhost 127.0.0.1"
DATABASES_ENGINE='django.db.backends.postgresql_psycopg2'
DATABASES_NAME='comments'
DATABASES_USER='comments'
DATABASES_PASSWORD='comments'
DATABASES_HOST='localhost'
DATABASES_PORT=''
